body {
	background-image: url('../stranger.png'); 
	font-family: 'Trirong', serif;
	background-repeat: no-repeat;
	background-size: cover;
	color: #ccc;
}
button {
	background-color: red;
}
p {
	color: #000;
}

.row {
	margin: 0;
	padding: 5px;
}