{{#if logged_in}}
        <div class="text-center">
        Welcome Detective {{username}}! <br>
        <a href="/users/sign-out">Sign Out</a>
        </div>
{{/if}}

{{#unless logged_in}} 
  <div class="text-center"> 
  <p> Sign up to start investigating crimes </p>
  </div>
{{/unless}}

{{#if logged_in}}
<div class="row text-center">
  <div class="col-sm-4 col-md-4" id="holder">
  </div>
</div>
    <script type="text/javascript">
      $.get('http://localhost:3000/api')
        .done(function (data) {
          var crime = data;
          console.log(crime);
          for (var i = 0; i < crime.length; i++) {
            var link = crime[i].name.replace(/ /g, '');
            $holder = $('#holder'),
            $thumbnail = $('<div class ="thumbnail">');
            $img = $('<img>').attr('src', crime[i].photo).appendTo($thumbnail);
            $caption = $('<div class = "caption>').appendTo($thumbnail);
            $name = $('<h2>').text(crime[i].name).appendTo($thumbnail);
            $date = $('<h3>').text(crime[i].date).appendTo($thumbnail);
            $desc = $('<p>').text(crime[i].case).appendTo($thumbnail);
            $readmore = $('<p><a href="/' + link + '" class="btn btn-primary" role="button">Read More</a></p>').appendTo($thumbnail);

            $thumbnail.appendTo($holder);
          }
        });
  
  </script>
{{/if}}